/* style.css */
/* HEAD */
.margins{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Encode Sans Semi Condensed", sans-serif;
}

.grid1 div:nth-child(n) {
    display: grid;
    margin: 0;
    padding: 0;
    align-content: center;
    }
.Box1{
    width:140px;
    height:140px;
    margin:10px;
    padding:5px;
    float:right
}
.Box2{
    width:220px;
    height:140px;
    margin:10px;
    padding:5px;
}
.grid2 div:nth-child(n) {
    display: grid;
    padding: 6px;
    width: auto;
    align-content:center;
    background-color: #360C3A;
}
.figure{
    width:15px;
    height:15px;
    float:left
}
.mail{
    width:150px;
    height:15px;
    float:left
}
.wp{
    width:105px;
    height:15px;
    float:left
}
.linkedin{
    width:125px;
    height:15px;
    float:left
}
.fecha{
    width:105px;
    height:15px;
    float:left
}
.cedula{
    width:120px;
    height:15px;
}
.grid3 div:nth-child(n) {
    display: grid;
    padding-right: 6px;
    width: auto;
    align-content:flex-end;
}
.img{
    width:15px;
    height:15px;
    float:left
}
.txt{
    width:150px;
    height:15px;
}
.logo {
    float:right;
    margin-left: 30px;
    margin-top: 22px;
}
=.grid4 div:nth-child(n) {
    display: grid;
    margin: 0;
    padding: 0;
    align-content: flex-end;
}
.draw1 {
    float:left;
    margin-right: 120px;
    margin-left: 50px;
}
.draw2 {
    clear:right;
    margin-right: 120px;
}
=.grid5 div:nth-child(n) {
    display: grid;
    padding: 6px;
    width: auto;
    align-content:center;
    margin-left: 50px
}
.icon1 {
    float:left;
    margin-right: 70px;
}
.bullet {
    float:left;
    margin-right: 8px;
}
.signature {
    float:right
}